global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO

accessLog: {}

api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: cloudflare
        domains:
{% for d in traefik_base_domains %}
          - main: "{{ d }}"
            sans:
              - "*.{{ d }}"
{% endfor %}

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /var/lib/traefik/acme.json
{% if traefik_acme_staging %}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
      dnsChallenge:
        provider: cloudflare
        disablePropagationCheck: true
        delayBeforeCheck: 30s
